.bg-img {
    background-image: url('images/background.jpg');
    background-repeat: repeat-y;
}

.black-bg {
    background-color: #000000;
}

.border-pill {
    border-radius: 3rem;
}

.border-round {
    border-radius: 2rem;
}

.darkblue-text {
    color: #3624AA;
}

.link-img {
    width: 50px;
    padding-bottom: 0.65rem;
}

.container-left {
    margin-left: 3.75rem !important;
}

.container-right {
    margin-right: 3.75rem !important;
}

.cursive {
    font-family: 'Lobster', cursive;
}

.gmail-img {
    width: 60px;
}

.img-of-me {
    height: 50%;
    border-radius: 4rem;
    border: solid #1388ce;
}

.line {
    border-color: #1388ce;
}

.links {
    color: #1388ce;
}

.links:hover {
    text-decoration-color: #3624AA;
    color: #3624AA;
}

.monospace-text {
    font-family: monospace;
}

.no-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.one-half-rem {
    font-size: 1.5rem;
}

.techblue-text {
    color: #1388ce;
}

.w-750 {
    max-width: 750px;
}

.w-8rem {
    width: 12rem;
    max-width: 12rem;
}

.word-break {
    word-wrap: break-word;
}
