.bg-img {
    background-image: url('images/background.jpg');
    background-repeat: repeat-y;
}

.black-bg {
    background-color: #000000;
}

.border-pill {
    border-radius: 3rem;
}

.border-round {
    border-radius: 2rem;
}

.contact-img {
    width: 65px;
}

.contact-img:hover {
    opacity: 0.5;
}

.contact-nav-height {
    height: 50px;
    max-height: 50px;
}

.contact-nav-link:hover {
    text-decoration: none;
    background: rgb(36, 36, 36)
}

.container-left {
    margin-left: 3.75rem !important;
}

.container-right {
    margin-right: 3.75rem !important;
}

.cursive {
    font-family: 'Lobster', cursive;
}

.img-of-me {
    height: 45%;
    border-radius: 4rem;
    border: solid rgb(46, 207, 255);
}

.info-height {
    height: 630px;
}

.index-body-size {
    width: 1361px;
    max-width: 1361px;
    height: 840px;
    max-height: 840px;
}

.line {
    border-color: rgb(46, 207, 255);
}

.links {
    color: rgb(46, 207, 255);
}

.links:hover {
    text-decoration: none;
    color: #1388ce;
}

.monospace-text {
    font-family: monospace;
}

.no-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.one-half-rem {
    font-size: 1.5rem;
}

.paragraph {
    font-size: 14px;
}

.techblue-text {
    color: rgb(46, 207, 255);
}

.w-750 {
    max-width: 750px;
}

.w-1361 {
    width: 1361px;
    max-width: 1361px;
}

.w-8rem {
    width: 12rem;
    max-width: 12rem;
}

.word-break {
    word-wrap: break-word;
}
